.cover
.idea
*.iml

examples/event/
examples/rest/gen_httpTestTourService.go
examples/rest/gen_httpTourService.go
examples/rest/gen_httpTourServiceHelpers_test.go
examples/rest/restTestLog/
examples/store/gen_structExampleEventStore.go
generator/rest/testData/
projectFilesBackup/
gen_aggregates.json
gen_wrappers.json
gen_wrappers_test.json
gen_ast.json
