.cover
.idea

examples/event/aggregates.go
examples/event/wrappers.go
examples/event/wrappers_test.go
examples/rest/httpTestTourService.go
examples/rest/httpTourService.go
examples/rest/httpTourServiceHelpers_test.go
examples/rest/httpClientForTourService.go
examples/rest/restTestLog/
examples/store/structExampleEventStore.go
examples/structExample/aggregates.go
examples/structExample/wrappers.go
examples/structExample/wrappers_test.go
examples/structExample/structExample_json.go
examples/structExample/enumExample_json.go

